<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BLM Protest</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h2>Supporter Counter</h2>
        <div id="blm"><p>Total BLM: 0</p></div>
        <button onclick="addBLM()">Add Protest</button>
        <br />
        <div id="trump"><p>Total Trump: 0</p></div>
        <button onclick="addTrump()">Add Trump</button>


        <div id="message"><h1>There are currently 0 BLM supporters here.<br />I support #BlackLivesMatter</h1></div>

        <script src="/static/index.js"></script>
    </body>
</html>